@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
}

.home {
    background-color: #FB6B6B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    width: 100%;

}

.home img {
    width: 140px;
    height: 160px;
    margin-top: 150px;
}

.home h1 {
    font-family: Righteous;
    font-size: 36px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-top: 20px;
}

.home button {
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 30px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    color: #D70900;
    cursor: pointer;
}

header {
    display: flex;
    margin-top: 42px;
    justify-content: center;

}

header img {
    width: 52px;
    height: 60px;
    padding-right: 7px;
    margin-top: 25px;
}

header h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    transform: rotate(0.58deg);
    margin-top: 25px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 100px;
}

.carta-virada {
    display: flex;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.carta-virada p {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.carta-virada ion-icon {
    font-size: 25px;
    color: #333333;
}

.pergunta {
    position: relative;
    width: 300px;
    height: 132px;
    background-color: #FFFFD4;
    margin: 0 auto;
    margin-bottom: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
}

.pergunta h1 {
    font-family: 'Recursive', sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 10px;
}

.pergunta img {
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    width: 25px;
    height: 20px;
}

.resposta {
    box-sizing: content-box;
    position: relative;
    width: 280px;
    height: 112px;
    background-color: #FFFFD4;
    margin: 0 auto;
    margin-bottom: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
}

.resposta h2 {
    font-family: 'Recursive', sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

}


.memoria {
    position: absolute;
    bottom: 0;
    left: 10px;
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 6px;
}

.nao-lembro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    width: 85px;
    height: 37px;
    background-color: #FF3030;
    border-radius: 5px;
}

.nao-lembro p {
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}


.quase-n-lembro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    width: 85px;
    height: 37px;
    background-color: #FF922E;
    border-radius: 5px;
}

.quase-n-lembro p {
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.zap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    width: 85px;
    height: 37px;
    background-color: #2FBE34;
    border-radius: 5px;
}

.zap p {
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}


.carta-virada-errado {
    display: flex;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.carta-virada-errado p {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FF3030;
    text-decoration: line-through;
}

.carta-virada-errado ion-icon {
    font-size: 30px;
    color: #FF3030;
}

.carta-virada-meio {
    display: flex;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.carta-virada-meio p {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FF922E;
    text-decoration: line-through;
}

.carta-virada-meio ion-icon {
    font-size: 30px;
    color: #FF922E;
}

.carta-virada-zap {
    display: flex;
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.carta-virada-zap p {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2FBE34;
    text-decoration: line-through;
}

.carta-virada-zap ion-icon {
    font-size: 30px;
    color: #2FBE34;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #FFFFFF;
}

footer h1 {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}

.icones {
    display: flex;
    font-size: 30px;
}

.close-circle-sharp {
    color: #FF3030;
    font-size: 20px;
}

.fim {
    display: flex;
    margin-bottom: 14px;
}

.fim img {
    width: 23px;
    height: 23px;
    margin-right: 10px;

}

.fim h1 {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 14.4px;
    color: #333333;
}

.final p {
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #333333;
    margin-bottom: 12px;
}

.final {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 152px;
    background-color: #FFFFFF;
}

@media (min-width: 600px) {


    header img {
        width: 86.96px;
        height: 100px;

    }

    header h2 {
        margin-top: 30px;
        font-size: 64px;
        margin-bottom: 100px;
    }

    .carta-virada {
        width: 567.12px;
        height: 91.74px;
    }

    .carta-virada p {
        font-size: 24px;
    }

    .carta-virada ion-icon {
        font-size: 30px;
        color: #333333;
    }

    .pergunta {
        width: 567.12px;
        height: 200.74px;
    }

    .pergunta h1 {
        font-size: 24px;
    }

    .resposta {
        width: 547.12px;
        height: 180.74px;
        font-size: 24px;
    }

    .resposta h2 {
        font-size: 24px;
        padding: 18px;
    }

    .nao-lembro {
        width: 140px;
        height: 40px;
        margin-left: 14px;
        cursor: pointer;
    }

    .nao-lembro p {
        font-size: 17px;

    }

    .quase-n-lembro {
        width: 140px;
        height: 40px;
        margin-left: 14px;
        cursor: pointer;
    }

    .quase-n-lembro p {
        font-size: 17px;
    }

    .zap {
        width: 140px;
        height: 40px;
        margin-left: 14px;
        cursor: pointer;
    }

    .zap p {
        font-size: 17px;
    }

    .memoria {
        margin-left: 20px;
        margin-bottom: 12px;

    }

    .carta-virada-errado {
        width: 567.12px;
        height: 91.74px;
        
    }

    .carta-virada-errado p {
        font-size: 24px;
    }

    .carta-virada-meio {
        width: 567.12px;
        height: 91.74px;
    }

    .carta-virada-meio p {
        font-size: 24px;
    }

    .carta-virada-zap {
        width: 567.12px;
        height: 91.74px;
    }

    .carta-virada-zap p {
        font-size: 24px;
    }

}