@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
}
.home {
    background-color: #FB6B6B;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    width: 100%;

}
.home img {
    width: 140px;
    height: 160px;
    margin-top: 150px;
}
.home h1 {
    font-family: Righteous;
    font-size: 36px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-top: 20px;
}
.home button {
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 30px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    color: #D70900;
    cursor: pointer;
}
 header {
    display: flex;
    margin-top: 42px;
    justify-content: center;
    
}
header img {
    width: 52px;
    height: 60px;
    padding-right: 7px;
    margin-top: 25px;
}
header h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    transform: rotate(0.58deg);
    margin-top: 25px;
}
.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
.opcoes {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.opcoes ion-icon{
    width: 30px;
    height: 30px;
    color: #333333;
    cursor: pointer;

}

.carta-virada{
    display:flex;
    width: 182px;
    height: 40px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    padding: 10px;
}

.carta-virada p{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: #333333;
}

.carta-virada ion-icon{
    font-size: 20px;
}

.pergunta{
    position: relative;
    width: 182px;
    height: 80px;
    background-color: #FFFFD4;
    margin: 0 auto;
    margin-bottom: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
}

.pergunta h1{
    font-family: 'Recursive', sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
}

.pergunta img{
    position: absolute;
    bottom: 5px;
    right: 8px;
}

.resposta{
    box-sizing: content-box;
    position: relative;
    width: 182px;
    height: 80px;
    background-color: #FFFFD4;
    margin: 0 auto;
    margin-bottom: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
}

.memoria{
    position: absolute;
    bottom: 0;
    left: 10px;
    display: flex;
    width: 181px;
}

.nao-lembro{
    padding: 4px;
    display: flex;
    align-items: center;
    margin-left: 4px;
    width: 65px;
    height: 24px;
    background-color: #FF3030;
    border-radius: 5px;
}

.nao-lembro p{
    font-family: 'Recursive', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
}


.quase-n-lembro{
    padding: 4px;
    display: flex;
    align-items: center;
    margin-left: 4px;
    width: 65px;
    height: 24px;
    background-color: #FF922E;
    border-radius: 5px;
}

.quase-n-lembro p{
    font-family: 'Recursive', sans-serif;
    font-size: 7px;
    font-weight: 400;
    color: #FFFFFF;
}

.zap{
    padding: 4px;
    display: flex;
    align-items: center;
    margin-left: 4px;
    width: 65px;
    height: 24px;
    background-color: #2FBE34;
    border-radius: 5px;
}

.zap p{
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}


.carta-virada-errado{
    display:flex;
    width: 182px;
    height: 40px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    padding: 10px;
}

.carta-virada-errado p{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: #FF3030;
    text-decoration: line-through;
}

.carta-virada-errado ion-icon{
    font-size: 20px;
    color: #FF3030;
}

.carta-virada-meio{
    display:flex;
    width: 182px;
    height: 40px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    padding: 10px;
}

.carta-virada-meio p{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: #FF922E;
    text-decoration: line-through;
}

.carta-virada-meio ion-icon{
    font-size: 20px;
    color: #FF922E;
}

.carta-virada-zap{
    display:flex;
    width: 182px;
    height: 40px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    padding: 10px;
}

.carta-virada-zap p{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: #2FBE34;
    text-decoration: line-through;
}

.carta-virada-zap ion-icon{
    font-size: 20px;
    color: #2FBE34;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #FFFFFF;
}

footer h1{
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}

.icones{
    display: flex;
}

.close-circle-sharp{
    color: #FF3030;
    font-size: 20px;
}

.fim{
    display: flex;
    margin-bottom: 14px;
}

.fim img{
    margin-right: 4px;
}

.fim h1{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: #333333;
}

.final p{
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #333333;
    margin-bottom: 12px;
}

.final{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #FFFFFF;
}